/* ------------------------------------------------------------------ */
/* Feature component structure */
.crypto__features-container__feature {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  border-style: solid;
  border-radius: 20px;
  border-color: white;
  margin: 1rem;
  background-color: black;
  padding: 2rem;
}
.crypto__features-container__feature-title {
  flex: 1;
  max-width: 1000px;
  margin-right: 2rem;
}
.crypto__features-container__feature-title h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;

  color: #fff;
}
.crypto__features-container__feature-title div {
  width: 38px;
  height: 3px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
}
.crypto__features-container_feature-text {
  flex: 2;
  max-width: 390px;
  display: flex;
}
.crypto__features-container_feature-text p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
/* ------------------------------------------------------------------ */
/* Responsiveness */
@media screen and (max-width: 550px) {
  .crypto__features-container__feature-title h1 {
    font-size: 14px;
    line-height: 22px;
  }

  .crypto__features-container_feature-text p {
    font-size: 12px;
    line-height: 20px;
  }

  .crypto__features-container__feature {
    margin: 1rem 0;
  }
}
