/* ------------------------------------------------------------------ */
/* Statistics container structure */
.crypto__statistics {
  display: flex;
  flex-direction: row;
  background-color: #c6cec6;
  padding: 50px 40px;
}
.crypto__statistics-content {
  width: 40%;
  display: flex;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.crypto__statistics-content p {
  width: 80%;
  padding: 20px;
  margin: 0px 20px;
  font-family: garamond;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  color: black;
}
.crypto__statistics-content__input {
  width: 350px;
  justify-content: center;
  align-items: center;
}
.crypto__statistics-content__input button {
  width: 100%;
  padding: 5px 0px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  text-transform: uppercase;
  background: #174f1a;
  border: 2px solid #174f1a;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  margin-top: 10px;
  box-shadow: 0px 2px 2px 1px #aaa;
}

.crypto__statistics-content__input button:hover {
  font-weight: 550;
  background-color: #38783c;
}
.crypto__statistics-content__input button:active {
  font-weight: 550;
  background-color: #509154;
}
.crypto__statistics-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crypto__statistics-image img {
  width: 90%;
}
/* --------------------------------------------------------------------- */
/* ------------------------------------------------------------------ */
/* Responsiveness */
@media screen and (max-width: 1050px) {
  .crypto__statistics {
    flex-direction: column;
  }
  .crypto__statistics-content {
    width: 100%;
    margin-right: 0px;
  }
  .crypto__statistics-content p {
    font-size: 25px;
    line-height: 25px;
  }
}
@media screen and (max-width: 1200px) {
  .crypto__statistics-content {
    margin-right: 0px;
  }
}
