.crypto__feature {
  display: flex;
  flex-direction: column;
  background-image: url("../../../../media/1304090.png");
  cursor: default;
}
.crypto__feature-box {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 50px 0px;
  width: 70%;
}

.crypto__feature h1 {
  width: 500px;
  margin: 30px 0px;
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: white;
}
.crypto__feature p {
  width: 500px;
  margin: 20px 0px;
  padding: 20px 40px;
  background-color: black;
  font-family: garamond;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #f2f2f2;
  border-radius: 40px;
  box-shadow: 0px 1px 1px 0px #aaa;
  cursor: default;
}

/* ------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 900px) {
  .crypto__feature-box {
    /* background-color: antiquewhite; */
    width: 100%;
  }
  /* .crypto__feature h1 {
    width: 80%;
  }
  .crypto__feature p {
    width: 80%;
  } */
}
/* ------------------------------------------------------------------------------- */
