/* ------------------------------------------------------------------ */
/* Testament container structure */
.crypto__testament {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  padding-top: 40px;
}
.crypto__testament-image {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.crypto__testament-image img {
  width: 500px;
  border-radius: 40px;
  box-shadow: 0px 2px 2px 0px #aaa;
}
.crypto__testament-content {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 20px;
}
.crypto__testament-content h1 {
  font-family: garamond;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: black;
}
.crypto__testament-content h2 {
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  color: black;
}
.crypto__testament-content p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

  margin-bottom: 2rem;
}

/* ---------------------------------------------------------------- */
/* ------------------------------------------------------------------ */
/* Responsiveness */
@media screen and (max-width: 900px) {
  .crypto__testament-image {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .crypto__testament-image img {
    width: 300px;
  }

  .crypto__testament-content {
    justify-content: center;
    align-items: center;
    width: 300px;
  }

  .crypto__testament-content h1 {
    font-size: 18px;
  }
  .crypto__testament-content h2 {
    font-size: 18px;
  }
}
