.crypto__FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background: linear-gradient(to bottom, #f2f2f2 65%, white 35%);
}

.crypto__FAQ-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-right: 5rem;
}

.crypto__FAQ-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: black;
}

.crypto__FAQ-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: black;

  margin-top: 1.5rem;
}

.crypto__FAQ-content-answer {
  font-size: 200px;
  opacity: 0.2;
}

@media screen and (max-width: 1050px) {
  .crypto__FAQ {
    flex-direction: column;
  }

  .crypto__FAQ-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .crypto__FAQ-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .crypto__FAQ-content p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .crypto__FAQ-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .crypto__FAQ-content p {
    font-size: 14px;
    line-height: 24px;
  }
}
