.crypto__header {
  display: flex;
  background-image: url("../../../../media/topo.jpg");
}

.crypto__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-right: 5rem;
}

.crypto__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: white;
  position: absolute;
  margin-top: 6rem;
}

.crypto__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: gray;
  position: absolute;

  margin-top: 16.5rem;
}

.crypto__header-content__input {
  width: 40%;
  margin: 2rem 0 1rem;

  display: flex;
}

.crypto__header-content__input button {
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: green;
  border: 2px solid green;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  margin-bottom: 100px;
}

.crypto__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto__header-image img {
  width: 50%;
}

@media screen and (max-width: 1050px) {
  .crypto__header {
    flex-direction: column;
  }

  .crypto__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .crypto__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .crypto__header-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .crypto__header-content__input input,
  .crypto__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .crypto__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .crypto__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .crypto__header-content__input input,
  .crypto__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
