/* ------------------------------------------------------------------ */
/* Navbar component structure*/
.crypto__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../../../media/card.png");
  padding: 1rem 6rem;
  top: 0;
}
.crypto__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.crypto__navbar-links_logo img {
  width: 350px;
  margin: 0px 30px;
}
.crypto__navbar-links_container {
  display: flex;
  flex-direction: row;
}
.crypto__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.crypto__navbar-links_container p,
.crypto__navbar-sign p,
.crypto__navbar-menu_container p {
  color: grey;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0 2rem;
  cursor: pointer;
}

.crypto__navbar-links_container p:hover {
  color: black;
}
.crypto__navbar-sign button,
.crypto__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #174f1a;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 40px;
  width: 250px;
  text-transform: uppercase;
}

.crypto__navbar-sign button:hover {
  font-weight: 550;
  background-color: #38783c;
}
.crypto__navbar-sign button:active {
  font-weight: 550;
  background-color: #509154;
}

.crypto__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}
.crypto__navbar-menu svg {
  cursor: pointer;
}
.crypto__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 2px;
  margin-top: -4rem;

  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px #aaa;
}
.crypto__navbar-menu_container p {
  margin: 1rem 0;
}
.crypto__navbar-menu_container-links-sign {
  display: none;
}

/* ------------------------------------------------------------------------------------------- */
/* Responsiveness*/
@media screen and (max-width: 1625px) {
  .crypto__navbar {
    /* background-color: blue; */
    padding: 1rem 1rem;
  }
  .crypto__navbar-links_logo img {
    width: 250px;
    margin: 0px 30px;
  }

  .crypto__navbar-menu_container {
    background-color: #f2f2f2;
  }
}
@media screen and (max-width: 1360px) {
  .crypto__navbar {
    /* background-color: yellow; */
    padding: 1rem 1rem;
  }
  .crypto__navbar-links_logo img {
    width: 250px;
    margin: 0px 30px;
  }
  .crypto__navbar-links_container p,
  .crypto__navbar-sign p,
  .crypto__navbar-menu_container p {
    font-size: 20px;
    line-height: 25px;
    margin: 0 2rem;
  }
  .crypto__navbar-sign button,
  .crypto__navbar-menu_container button {
    font-size: 20px;
    width: 200px;
  }
}
@media screen and (max-width: 1250px) {
  .crypto__navbar-links_container {
    display: none;
  }
  .crypto__navbar-menu {
    margin: 0px 40px;
    /* background-color: aqua; */
    display: flex;
  }
  .crypto__navbar-links_logo {
    margin: 0px 0px;
  }
}

@media screen and (max-width: 600px) {
  .crypto__navbar-sign {
    display: none;
  }
  .crypto__navbar-links_logo img {
    width: 200px;
    margin: 0px 30px;
  }

  .crypto__navbar-menu_container {
    top: 0px;
  }
}
/* ------------------------------------------------------------------------------- */
