/* --------------------------------------------------------------------- */
/* ------------------------------------------------------------------ */
/* News container and component structure*/
.newsContContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsContainer {
  width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.News {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.news-text {
  font-family: Antonio;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.crypto-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.crypto-newsDesc {
  text-align: start;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sliderContainer {
  height: auto;
  width: 50vw;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------------------------------------- */
/* ------------------------------------------------------------------ */
/* Slider arrow design*/
.slick-prev,
.slick-next {
  z-index: 10;
  /* ------------------------------------------------------ */
  cursor: pointer;
  position: absolute;
  width: 3.5vw;
  padding-bottom: 3.5vw;
  color: white;
  font-weight: bold;
  top: 50%;
  transition: 0.6s ease;
  border-radius: 50px;
  user-select: none;
}
.slick-prev {
  left: 30px;
}
.slick-next {
  right: 30px;
}
.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*  ------------------------------------------------------------------------------ */
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  color: white;
  line-height: 1.5;
  font-size: 2.5vw;
  opacity: 0.75;
}
/* ----------------------------------------------------------------------------------- */
.slick-dots {
  margin: 0;
  padding: 0px 0px;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  padding: 10px 0px;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.5;
  color: gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* --------------------------------------------------------------------------------------- */
.overlay {
  height: 100%S;
  position: absolute;
  margin: 20px 20px;
  top: 0;
  color: white;
  font-family: antonio;
  font-size: 20px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------ */
/* Responsiveness*/
@media only screen and (min-width: 1360px) {
  /* For tablets: */
  .news-text {
    width: 1250px;
  }
}
@media only screen and (max-width: 2010px) and (min-width: 1280px) {
  .newsContContainer {
    height: 400px;
  }
  .newsContainer {
    height: 100%;
  }
  .news-text {
    width: 77%;
  }
  .sliderContainer {
    width: 80%;
  }
  .overlay {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 960px) {
  .news-text {
    width: 77%;
  }
  .newsContainer {
    height: 400px;
    width: 100%;
  }
  .sliderContainer {
    width: 80%;
  }
  .overlay {
    margin: 12px 12px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .news-text {
    width: 85%;
  }
  .newsContainer {
    height: 360px;
    width: 100%;
  }
  .sliderContainer {
    width: 90%;
  }
  .overlay {
    margin: 10px 10px;
    font-size: 15px;
  }
}

@media only screen and (max-width: 599px) {
  .news-text {
    width: 85%;
  }
  .newsContainer {
    height: 360px;
    width: 100%;
  }
  .sliderContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .overlay {
    margin: 25px 40px;
    font-size: 20px;
  }
}
